#header {
  h1 {
    padding: 250px 0px 0px 0px;
  }
  p {
    margin: auto;
    padding: 20px;
    width: 100%;
    text-align: center;
    border-top: 10px double #98ee99;
    border-bottom: 10px double #98ee99;
    @media @mobile {
      width: 100%;
    }
  }
}

.button {
  background-color: #66bb6a;
  border-radius: 8px;
  color: #e8f5e9;
  display: inline-block;
  line-height: 3.25em;
  text-align: center;
  text-decoration: none;
  padding: 5px 50px;
  font-size: 25px;
  margin: 60px;
}

.button:hover {
  background-color: #98ee99;
}
