.CTA {
  padding: 0px 0px 30px 0px;
  width: 80%;
  .center(auto, center);
  margin-bottom: 40px;
  p {
    padding: 5% 15%;
    .center(auto, center);
    border-top: 10px double #98ee99;
    border-bottom: 10px double #98ee99;
  }
}
.Info {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #98ee99;
  border-radius: 8px;
  @media @mobile {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 40px 0px;
  }
  .txt {
    .center(auto, center);
    width: 40%;
    @media @mobile {
      width: 100%;
    }
  }
  img {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    @media @mobile {
      width: 100%;
    }
  }
}
.InfoRev {
  display: flex;
  justify-content: space-evenly;
  @media @mobile {
    display: flex;
    flex-direction: column-reverse;
    margin: 40px 0px;
    border-top: 10px double #98ee99;
    border-bottom: 10px double #98ee99;
    padding: 40px 0px;
  }
  .txt {
    .center(auto, center);
    width: 40%;
    @media @mobile {
      width: 100%;
    }
  }
  img {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    @media @mobile {
      width: 100%;
    }
  }
}
