.mainButtonsinfo {
  background-color: #66bb6a;
  border-radius: 8px;
  color: #e8f5e9;
  display: inline-block;
  line-height: 3.25em;
  text-align: center;
  text-decoration: none;
  padding: 5px 50px;
  font-size: 25px;
  margin: 60px;
}
.aboutButtoninfo {
  background-color: #e8f5e9;
  border-radius: 8px;
  color: #66bb6a;
  display: inline-block;
  line-height: 3.25em;
  text-align: center;
  text-decoration: none;
  padding: 5px 50px;
  font-size: 15px;
  margin: 20px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/line.jpeg");
  background-repeat: repeat-x, repeat, no-repeat;
  background-position: center top;
  text-align: center;
}
@media (max-width: 500px) {
  body {
    background-image: url("images/line.jpeg");
    background-repeat: repeat-x, repeat, no-repeat;
    background-position: center top;
  }
}
.body {
  max-width: 800px;
  width: 100%;
  margin: auto;
  text-align: center;
}
@media (max-width: 500px) {
  .body {
    width: 90%;
  }
}
.body .content {
  width: 80%;
  margin: auto;
  text-align: center;
}
#header h1 {
  padding: 250px 0px 0px 0px;
}
#header p {
  margin: auto;
  text-align: center;
  padding: 20px;
  width: 100%;
  border-top: 10px double #98ee99;
  border-bottom: 10px double #98ee99;
}
@media (max-width: 500px) {
  #header p {
    width: 100%;
  }
}
.mainButtons {
  background-color: #66bb6a;
  border-radius: 8px;
  color: #e8f5e9;
  display: inline-block;
  line-height: 3.25em;
  text-align: center;
  text-decoration: none;
  padding: 5px 50px;
  font-size: 25px;
  margin: 60px;
}
.mainButtons:hover {
  background-color: #98ee99;
}
.CTA {
  padding: 0px 0px 30px 0px;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.CTA p {
  padding: 5% 15%;
  margin: auto;
  text-align: center;
  border-top: 10px double #98ee99;
  border-bottom: 10px double #98ee99;
}
.Info {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #98ee99;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .Info {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 40px 0px;
  }
}
.Info .txt {
  margin: auto;
  text-align: center;
  width: 40%;
}
@media (max-width: 500px) {
  .Info .txt {
    width: 100%;
  }
}
.Info img {
  width: 400px;
  height: 400px;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .Info img {
    width: 100%;
  }
}
.InfoRev {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .InfoRev {
    display: flex;
    flex-direction: column-reverse;
    margin: 40px 0px;
    border-top: 10px double #98ee99;
    border-bottom: 10px double #98ee99;
    padding: 40px 0px;
  }
}
.InfoRev .txt {
  margin: auto;
  text-align: center;
  width: 40%;
}
@media (max-width: 500px) {
  .InfoRev .txt {
    width: 100%;
  }
}
.InfoRev img {
  width: 400px;
  height: 400px;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .InfoRev img {
    width: 100%;
  }
}
footer {
  padding: 0px 0px 150px 0px;
  display: flex;
  justify-content: center;
}
.aboutButton {
  background-color: #e8f5e9;
  border-radius: 8px;
  color: #66bb6a;
  display: inline-block;
  line-height: 3.25em;
  text-align: center;
  text-decoration: none;
  padding: 5px 50px;
  font-size: 15px;
  margin: 20px;
}
.aboutButton:hover {
  background-color: #98ee99;
}
#about {
  padding: 250px 0px 0px 0px;
  margin: auto;
  text-align: center;
}
#about h1 {
  font-size: 60px;
  padding: 20px;
}
.People {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Dev {
  border: 8px double #98ee99;
  padding: 20px;
  width: 250px;
  margin: 20px;
}
.button2 {
  background-color: #66bb6a;
  border-radius: 8px;
  color: #e8f5e9;
  display: inline-block;
  line-height: 3.25em;
  text-align: center;
  text-decoration: none;
  padding: 5px 50px;
  font-size: 25px;
  margin: 20px;
}
.button2:hover {
  background-color: #98ee99;
}
